*{
margin: 0;
}

body{
  font-family: 'Pontano Sans', sans-serif;
}

.welcome{
  text-align: center;
  background-image: url("map.jpg");
  height: 200px;
}

.welcome h1{
  color: #fff;
  padding: 30px;
}

.welcome li{
  margin-top: 50px;
}

.nav ul{
  text-align: center;
  clear: left;
  padding: 0;
}

.nav li{
  display: inline;
  color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 50px;
}

.nav a{
  color: #fff;
  text-decoration: none;
}

.nav a:visited{
  text-decoration: none;
}

.main-idea{
  margin: 30px;
  text-align: center;
  max-width: 800px;
}


footer a{
  padding-top: 15px;
  color: #39cccc;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  opacity: .5;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}


footer a:visited{
  text-decoration: none;
}

footer a:hover{
  opacity: 1;

}

footer {
  text-align:center;
  color: #ffffff;
  display:inline;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;

}
