*{
margin: 0;
}

*::selection{
  color: #dddddd;
}

html{
  height: 100%;
}

.container{
  max-width: 800px;
  margin: auto;
}

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.welcome{
  text-align: center;
  background-image: url("blur.jpg");
  background-size: cover;
  height: 500px;
}

.welcome h1{
  color: #fff;
  font-family: 'Roboto', sans-serif;
  padding-top: 30px;
  text-shadow: 1px 1px 1.5px #111111;
}

.welcome h2{
  color: #fff;
  text-shadow: 1px 1px 1.5px #111111;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  padding-bottom: 30px;
}

.welcome li{
  margin-top: 50px;
}

.nav ul{
  text-align: center;
  clear: left;
  padding: 0;
}

.nav li{
  display: inline;
  color: #ffffff;
  text-shadow: 1px 1px 1.5px #111111;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 50px;
}

.nav li:hover{
  text-decoration: underline;
}

.nav a{
  color: #fff;
  text-decoration: none;
}

.nav a:visited{
  text-decoration: none;
}

.main-idea{
  margin: 30px;
}

.main-idea p{
  text-align: center;
}


.footer a{
  padding-top: 15px;
  color: #39cccc;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  opacity: .5;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}


.footer a:visited{
  text-decoration: none;
}

.footer a:hover{
  opacity: 1;

}

.footer{
  bottom: 0;
  text-align: center;
  left: 0;
  height: 50px;

}
