@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

*{
margin: 0;
}

*::selection{
  color: #dddddd;
}

html{
height: 100%;
width: 100%;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  background-color: #000;

}
/*
.headroom{
  text-align: center;
  color: #fff;
  margin: auto;
  background-color: #000;
  height: 50px;
}

.headroom i{
  margin-top: 14px;
}

.headroom--unpinned{
  top: -100;
}

.headroom--pinned{
  top:0;
}
*/

.container{
  max-width: 800px;
  margin: auto;
}

.welcome{
  padding-top: 30px;
  text-align: center;
  background-size: cover;
}

.welcome h1{
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  padding-top: 30px;
  /*text-shadow: 1px 1px 1.5px #111111;*/
}

.welcome h2{
  color: #fff;
  /*text-shadow: 1px 1px 1.5px #111111;*/
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-bottom: 15px;
}

.welcome #icon{
  opacity: .5;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}

.welcome #icon:hover{
  opacity: 1;
}

.welcome li{
  margin-top: 25px;
}

.nav ul{
  text-align: center;
  clear: left;
  padding: 0;
}

.nav li{
  display: inline;
  color: #000;
  /*text-shadow: 1px 1px 1.5px #111111;*/
  padding-left: 10px;
  padding-right: 10px;
}

.nav li:hover{
  text-decoration: underline;
}

.nav a{
  color: #000;
  text-decoration: none;
  font-weight: 300;
}

.nav a:visited{
  text-decoration: none;
}

.main-idea p{
  margin: 15px;
  size: 400px;
  color: #fff;
}

.main-idea h2{
  color: #fff;
}

#blogtext{
  text-align: center;
}

.button{
  margin: auto;
  height: 45px;
  width: 120px;
  border: 2px solid rgba(255, 255, 255, 1);
  color: #fff;
  margin-top: 15px;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

.button i{
  align: center;
  margin-top: 12.5px;
}

.button a{
  text-align: center;
}

.button:hover{
  background-color: #fff;
  opacity: 1;
  border: 2px solid rgba(255, 255, 255, 1);
}

.button:hover i{
  -webkit-transition: color 300ms linear;
  -moz-transition: olor 300ms linear;
  -o-transition: color 300ms linear;
  -ms-transition: color 300ms linear;
  transition: color 300ms linear;
  color:black;
}
.other-links, a{
  padding: 8px;
  color: #fff;
}
footer p{
  color: #fff;
  text-align: center;
}
footer{
  height: 50px;
  padding-top: 50px;
  padding-bottom: 5px;
}
